<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">Practica Semana 19</span>
</nav>

<div>
    <h2>NodeJs | MongoDB</h2>
    Si ya posee cuenta <a href="login" class="badge badge-primary">Inicie Sesión</a>
    o <a href="register" class="badge badge-success">Registrese</a>
</div>